---
import FooterSidebar from './FooterSidebar.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarSidebar from './NavBarSidebar.astro';
import SideBar from './SideBar.astro';
---

<LayoutCommon>
	<NavBarSidebar />
	<SideBar />

	<div class="flex pt-16 overflow-hidden">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto lg:ml-72 min-h-screen"
		>
			<main class="p-4 md:p-6 lg:p-8">
				<slot />
			</main>

			<FooterSidebar />
		</div>
	</div>
</LayoutCommon>

<script is:inline>
	(function() {
		var token = localStorage.getItem('clawfi_token');
		if (!token) {
			window.location.replace('/login');
			return;
		}
		fetch('https://api.clawfi.ai/me', {
			headers: { 'Authorization': 'Bearer ' + token }
		}).then(function(res) {
			if (res.status === 401) {
				localStorage.removeItem('clawfi_token');
				window.location.replace('/login');
			}
		}).catch(function() {});
	})();

	window.clawfiLogout = function() {
		localStorage.removeItem('clawfi_token');
		window.location.replace('/login');
	};
</script>
